click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
flask-heroku==0.1.9
Flask-Restless==0.17.0
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mimerender==0.6.0
pipdeptree==0.10.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
six==1.11.0
SQLAlchemy==1.1.15
Werkzeug==0.12.2
